@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d6e1ff;
}

.card {
  background-color: #fff;
  width: 400px;
  height: 650px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.card h3 {
  text-align: center;
  font-weight: 800;
  font-size: 1.6rem;
  margin-bottom: 25px;
}

.card .descrip-order {
  width: 100%;
  padding: 0 40px;
  text-align: center;
  color: #8c94a7;
}

.btn-proceed {
  background-color: #382ae1;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 45px;
  border-radius: 10px;
  box-shadow: 0px 15px 37px 0px rgba(56,42,225,0.49);
  -webkit-box-shadow: 0px 15px 37px 0px rgba(56,42,225,0.49);
  -moz-box-shadow: 0px 15px 37px 0px rgba(56,42,225,0.49);
}

.div-price {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.div1 {
  display: flex;
  gap: 10px;
}

.btn-change {
  font-size: .9rem;
  font-weight: 800;
  color: #5244bb;
  text-decoration: underline;
}

.text-plan {
  font-weight: 800;
  color: #000;
}

.text-price {
  font-size: .95rem;
  color: #8a8a8a;

}